{% extends "base.html" %}
{% block content %}
<h1>Inventory Logs</h1>
<form method="get" class="row g-2 mb-3">
  <div class="col-md-3">
    <select name="user" class="form-select">
      <option value="">All Users</option>
      {% for u in all_users %}
        <option value="{{ u.username }}" {% if search_user==u.username %}selected{% endif %}>{{ u.username }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-2">
    <input type="date" name="start" class="form-control" value="{{ start }}">
  </div>
  <div class="col-md-2">
    <input type="date" name="end" class="form-control" value="{{ end }}">
  </div>
  <div class="col-md-3">
    <input type="text" name="keyword" class="form-control" placeholder="Keyword" value="{{ keyword }}">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-secondary">Search</button>
  </div>
</form>
<table class="table table-bordered table-striped table-hover table-sm">
<thead>
  <tr><th>Time</th><th>User</th><th>Action</th><th>Vial ID(s)</th><th>Batch ID(s)</th></tr>
</thead>
<tbody>
{% for item in logs %}
<tr>
  <td>{{ item.log.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
  <td>{{ item.log.user_performing_action.username if item.log.user_performing_action else '' }}</td>
  <td>{{ item.log.action }}</td>
  <td>
    {% if item.details.vial_id %}{{ item.details.vial_id }}{% elif item.details.vial_ids %}{{ item.details.vial_ids|join(', ') }}{% else %}{% if item.log.target_type=='CryoVial' %}{{ item.log.target_id }}{% endif %}{% endif %}
  </td>
  <td>
    {% if item.details.batch_id %}{{ item.details.batch_id }}{% elif item.details.batch_ids %}{{ item.details.batch_ids|join(', ') }}{% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
